name: Publish to NPM

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "*" # Push events to matching any tag format, i.e. 1.0, 20.15.10

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - run: npm i -g --force corepack && corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: pnpm
      - run: pnpm install && pnpm test
      - uses: JS-DevTools/npm-publish@v4
        with:
          access: public
